* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/default.jpg);
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
  background-size: cover;
}

.app-main {
  background: #113cfc;
  border-radius: 30vh 10vh 80vh 10vh;
  width: 75vh;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}

.app-main > * {
  margin-bottom: 20px;
}

.input-box {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  outline: none;
  color: #080074;
  font-size: 1.2rem;
  height: 55px;
  border-radius: 3.5vh 3.5vh 3.5vh 10vh;
  padding: 0 10px;
  text-align: center;
}

.input-box:focus {
  background-color: rgb(255, 255, 255);
}

.weather-details {
  display: none;
  color: #080074;
  padding: 20px;
  line-height: 2.5rem;
  background-color: rgba(173, 217, 230, 0.63);
  border-radius: 30vh 10vh 5vh 10vh;
  height: 50vh;
}

.location-details {
  font: bold;
}

.weather-status {
  padding: 20px;
}

.temp {
  font-size: 50pt;
  font-weight: 700;
  margin: 20px 0;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.min-max,
.weather {
  font-size: 16pt;
  font-weight: 600;
}
